<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Admin Create Movie | TImoviES</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/admin_base.css" />
    <link rel="stylesheet" type="text/css" href="/css/newMovie.css" />
  </head>

  <body>
    <% if(loginAdmin == null){ %>
    <h1>
      Not authrized!
    </h1>
    <a href="https://2560-final.glitch.me/admin">go to login page</a>
    <% } else { %>
    
    <!-- navigation -->
    <div id="navigation" class="navigation">
      <a class="logoLink" href="https://2560-final.glitch.me/admin">
        <img class="logo" src="https://cdn.glitch.com/d18e9959-9ac2-47bb-b596-b2cfc165135c%2Flogo.png?v=1574484580750" />
      </a>
      <span class="title">Admin Manage Page</span>
      
      <% if(loginAdmin == null){ %>
        <a href="https://2560-final.glitch.me/admin" class="signin">
          Sign In
        </a>  
      <% } else { %>
        <a href="https://2560-final.glitch.me/api/admin/logout" class="signin">
          Log out
        </a>  
      <% }%>
      
      <% if(loginAdmin != null){ %>
        <span class="username">&nbsp;&nbsp;&nbsp;&nbsp;(<%= loginAdmin.username%>)</span>
      <% } %> 
    </div>
    
    <!-- manage navigation -->
    <div class="subNav">
      <a class="movieManage" href="https://2560-final.glitch.me/api/admin/manage">
        Movie Manage
      </a>
      <a class="pick" href="https://2560-final.glitch.me/api/admin/pick">
        Editors'picks
      </a>  
    </div>
    
    <!-- form -->
    <form id="create" action="https://2560-final.glitch.me/api/admin/createMovie" method="post" enctype="multipart/form-data">
      <label for="name">Name</label>
      <input id="name" type="text" name="name" required />      
      
      <label for="date">Release Date</label>
      <input type="text" id="date" name="date" required />
      
      <label for="duration">Duration</label>
      <input type="text" id="duration" name="duration" required />
      
      <label for="language">Language</label>
      <input type="text" id="language" name="language" required />
      
      <label for="director">Director</label>
      <input type="text" id="director" name="director" required />
      
      <div>
        <label class="descriptionlabel" for="description">Description</label>
        <input class="description" type="textarea" id="description" name="description" required />
      </div>
      
      <label for="post">Post</label>
      <input type="file" id="post" name="post" accept="image/png, image/jpeg" required />
      
      <div class="submitBox">
        <input id="submit" class="submit" type="submit" value="Create" />
      </div>    
    </form>
    <% }%>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  </body>
</html>
