@font-face {
  font-family: "Poppins extra light";
  src: url("https://cdn.glitch.com/d18e9959-9ac2-47bb-b596-b2cfc165135c%2FPoppins-ExtraLight.ttf?v=1574483692394");
}

@font-face {
  font-family: "Poppins extra bold";
  src: url("https://cdn.glitch.com/d18e9959-9ac2-47bb-b596-b2cfc165135c%2FPoppins-ExtraBold.ttf?v=1574485531308");
}

body {
  background-color: black;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins extra light";
  color: white;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover {
  color: #A8A8A8;
}

.navigation {
  width: 100%;
  height: 100px;
}

.logoLink{
  display: block;
  float: left;
  height: 100px;
  width: 12%;
}

.logo {
  height: 50px;
  padding-top: 25px;
}

.title{
  display: block;
  float: left;
  width: 68%;
  height: 50px;
  color: orange;
  font-size: 14px;
  padding-top: 50px;
}

.signin {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 10%;
  height: 100px;
  line-height: 100px;
  text-decoration: none;
  cursor: pointer;
  color: orange;
  font-size: 25px;
  margin: 0;
}

.username{
  display: block;
  float: left;
  box-sizing: border-box;
  width: 10%;
  height: 100px;
  color: orange;
  font-size: 18px;
  padding-right: 30px;
  line-height: 100px;
}

.subNav{
  width: 100%;
  height: 30px;
  border-bottom: 1px solid grey;
}

.movieManage, .pick {
  color: white;
  display: inline-block;
  width: 48%;
  text-align: center;
}

footer{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
  color: #A8A8A8;
}